// *************************************
//
//   Helpers
//
// *************************************

// -------------------------------------
//   Mixins
// -------------------------------------

@mixin at-least($query) {
  @media screen and (min-width: $query) {
    @content;
  }
}

@mixin until($query) {
  @media screen and (max-width: $query) {
    @content;
  }
}

@mixin between($min-query, $max-query) {
  @media screen and (min-width: $min-query) and (max-width: $max-query) {
    @content;
  }
}

// -------------------------------------
//   Functions
// -------------------------------------

// Create a percent value using target/context formula
@function percent($target, $context: $maxWidth) {
  @return #{$target / $context * 100}#{"%"};
}


// -------------------------------------
//   Extends
// -------------------------------------

%clearfix {
  @include clearfix;
}

%hidden {
  display: none !important;
}

%visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

%image-replace {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%overflow {
  overflow: hidden;
}

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

%shout {
  text-transform: uppercase;
}

%inline {
  display: inline-block;
}

%inverse {
  color: $inverse-color;
}

%center {
  text-align: center;
}

%lead {
  font-size: 131.25%;
}

%pullLeft {
  float: left;
}

%pullRight {
  float: right;
}
